<widget-header titulo = 'AGENDA DE DESEMPENHO'></widget-header>

<div class="home fonteBranca">
  

<div ng-cloak class="md-inline-form">

  <div>
      <md-input-container>
      <label class="fonteBranca">Email</label> 
      <input type="vm.user" ng-model="user.title">
      </md-input-container>

      <md-input-container>
      <label class="fonteBranca">Senha</label>
      <input type="vm.pass" ng-model="user.email" type="email">
    </md-input-container>
  </div>

  <center>
  <md-button class="md-fab md-primary md-hue-2" aria-label="Profile">
    <md-icon md-svg-src="images/login.svg"></md-icon>
  </md-button>
  </center>
 


</div>